 <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>User-Details</title>
     <style>
          .bor{
              border-right: 4px solid red;
              border-bottom: 4px solid red;
              border-left: 4px solid blue;
              border-top: 4px solid blue;
              display: inline-block;
              padding: 3px
          }
      </style>
  </head>
  <body>
  <div class="container">
  <center><h1 class="bor">User Detail</h1></center>
    {% for user in data %}
      <h3>First Name: {{user.ftname}}</h3>
      <h3>last Name: {{user.ltname}}</h3>
      <h3>Role Name: {{user.role_name}}</h3>
     {% endfor %}
{% for user in rdata %}
    <h3>Right Name: {{user.right_name}}</h3>
    <h3>Right  Detail: {{user.right_detail}}</h3>
{% endfor %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>